<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>671651575788-08skaoj6fjeqlrncet89krdqjlac76r8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.671651575788-08skaoj6fjeqlrncet89krdqjlac76r8</string>
	<key>API_KEY</key>
	<string>AIzaSyBq04lhoIyUnqsfRM4eyDd39bw52RfT_oE</string>
	<key>GCM_SENDER_ID</key>
	<string>671651575788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kr.webcashstore</string>
	<key>PROJECT_ID</key>
	<string>webcashstore-4609e</string>
	<key>STORAGE_BUCKET</key>
	<string>webcashstore-4609e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:671651575788:ios:a104f9677f3cf347e0b2c9</string>
	<key>DATABASE_URL</key>
	<string>https://webcashstore-4609e.firebaseio.com</string>
</dict>
</plist>